
body {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.linkblanco:link, .linkblanco:visited, .linkblanco:active {
    text-decoration:none;
    color: white;
}



ul.menu{
    font-size: 20px;
    font-family: Circular Std;
    padding-top:20px;
    grid-area: menu;
    justify-self: end;
    
    
}

ul.menu li{
    display:inline;
    margin-left: 20px;
    margin-right: 20px;
}

.linkblanco:hover, a:hover{
    color:rgb(216, 186, 51)
}

#header{
    display: grid;
    grid-template-columns: 100px, 1fr,1fr,1fr;
    grid-template-rows: 100px; 
    padding-left: 100px;
    padding-top: 40px;
    grid-template-areas:"logo nombre menu menu";
}

.logo{
    grid-area: logo;
    width:100px;
    height:100px;
    
}

.nomysub{
    display: flex;
    flex-direction:row;
    margin: 0px;
}


.nombrearqindex{
    
    grid-area: nombre;
    justify-self: start;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

.subnombreindex{
    grid-area: nombre;
    font-family: Helvetica;
    font-size: 15px;
    color: white;
}

.nombrearq{
    
    grid-area: nombre;
    justify-self: start;
    font-size: 20px;
    font-family: Helvetica;
    color: black;
}

.subnombre{
    grid-area: nombre;
    font-family: Helvetica;
    font-size: 15px;
}

.barra-menu{
    display:none;
}


@font-face {
    font-family: 'Circular Std';
    src: url('../resource/fuentes/CircularStd-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    }

    @font-face {
        font-family: 'Helvetica';
        src: url('../resource/fuentes/Helvetica.otf');
        }

    @font-face {
        font-family: 'Ultima';
        src: url('../resource/fuentes/Ultima.ttf');
        }


#videoindex{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    z-index: -1;
}

#div-titulo-index{
    width: 500px;
}

#titulo-index{
    font-size: 110px;
    font-family: Circular Std;
    color: white;
    letter-spacing: 0.15em;
    margin-left: 50px;
    line-height: 90%
}

.contenedor{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 50% 50%;
    grid-template-areas:"img_u contenido_u"
                        "contenido_a img_a"
                        "img_m contenido_m";
}


.imagenideo{
    max-width: 90%;
}

#img_u{
    grid-area: img_u;
}

#contenido_u{
    grid-area: contenido_u;
}

#img_a{
    justify-self:end;
    grid-area: img_a;
}

#contenido_a{
    grid-area: contenido_a;
}

#img_m{
    grid-area: img_m;
}

#contenido_m{
    grid-area: contenido_m;
}

.first-letter {
    color:rgb(251, 212, 109) ;
    font-size: 85px;
}


.contenidoideo__titulo{
    font-family: Circular Std;
    font-size: 70px;    
}

.contenidoideo__parrafo{
    font-size: 25px;
    font-family: Circular Std;
    color: gray;
    line-height: 200%;    
}

.contenidoideo__palabra{
    font-size: 30px;
    font-family: Helvetica;    
}

.extractoideo{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contenedorextractos{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.extractoideo__letra{
    margin: 0%;
    font-family: Circular Std;
    font-size: 200px;
    color: rgb(251, 212, 109);
}

.extractoideo__fecha{
    font-family: Helvetica;
    font-size: 25px;
}

.extractoideo__frase{
    font-size: 20px;
    font-family: Circular Std;
    color: gray;
    letter-spacing: 0.10em;
    line-height: 150%
}

.contenedor_quiensoy{
    margin: 100px;
    justify-content: center;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

.presentacion{
    
    width: 40%;
}

.presentacion__frase{
    font-family: Circular Std;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 0.10em;
    line-height: 150%
    
}

.presentacion__cita{
    font-family: Helvetica;
    margin-top: 10px;
    color: gray;
    
}

.presentacion__nombre{
    font-family: Circular Std;
    font-size: 70px;
    margin-bottom: 0px;
    
}

.presentacion__intro{
    font-family: Circular Std;
    padding: 0px;
    color: gray;
    line-height: 200%
    
}

.presentacion__mail{
    font-family: Helvetica;
    margin :0px;
    color: gray;
}

.presentacion__img{
    width: 550px;
    height: 550px;
    margin-left:0px;  
}


.contenidoideo{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}



footer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    width: 100%;
}

.footerder{
    display: flex;
    align-items: center;
    background-color: rgb(77,77,77);
    width: 50%;
    height: 100px;
    justify-content: end;
}

#social{
    margin-right: 100px;
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.footerizq{
    display: flex;
    align-items: center;
    background-color: rgb(77,77,77);
    width: 50%;
    height: 100px;
}

.footerder__leyenda{
    font-family: Helvetica;
    font-size: 15px;
    color: rgb(128,128,128);
    margin-left: 100px;
}

.footerder__insta,.footerder__twtt,.footerder__face{
    width: 30px;
    height: 30px;
}

.ImagenesProyectos{
    margin: 100px;
    display: grid;
    row-gap: 100px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(10,auto );
}

.proyectotexto{
    width: 600px;
}

.titulos{
    font-family: Circular Std;
    font-size: 70px;
    letter-spacing: 0.10em;
}

.miP{
    font-size: 15px;
    font-family: Circular Std;
    color: gray;
    line-height: 200%;
    letter-spacing: 0.10em;
}

.EstiloImgP{
    height: auto;
    width: 100%;
    
}

#contacto{
    margin: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6,auto);
    column-gap: 30px;
    row-gap: 70px;
}

#contacto #Mensaje{
    grid-column: 1/3;
    height: 300px;
}

.linea{
    border: solid;
    margin-top: 20px;
}



.form-control-lg{
    border: none;
    font-size: 20px;
    font-family: Circular Std;
    width: 100%;
    height: 100%;
    outline: none;
}



.titcontacto{
    font-family: Circular Std;
    font-size: 50px;
    letter-spacing: 0.10em;
}

.botonenviar{
    width: 200px;
    height: 60px;
    background-color:rgb(251, 212, 109);
    font-family: Helvetica;
    border: none;
    font-size: 20px;
}
.botonenviar:hover {
    background-color: rgb(216, 179, 76);
}

.botonenviar:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*Mediaqueries*/
@media screen and (max-width: 600px) {

    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    #header{
        display: grid;
        grid-template-columns: 60px, 1fr, 60px;
        grid-template-rows: 60px; 
        padding: 50px;
        grid-template-areas:"logo nombre menu";
    }
    
    .logo{
        grid-area: logo;
        width:60px;
        height:60px;
        
    }
    
    .nomysub{
        display: relative;
        flex-direction:row;
        align-items:flex-start;
        
    }

    .nombrearq{
    
        grid-area: nombre;
        justify-self: start;
        font-size: 15px;
        font-family: Helvetica;
        color: black;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .subnombre{
        grid-area: nombre;
        font-family: Helvetica;
        font-size: 10px;
        margin-top: 0px;
    }

    ul.menu li{
        display:none;
    }

    .barra-menu{
        grid-area: menu;
        justify-self: end;
        font-size: 30%;
        display: block;
        cursor: pointer;
        align-self: center;
    }

    .contenedor{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        grid-column-gap: 15px;
    }

    .first-letter {
        color:rgb(251, 212, 109) ;
        font-size: 35px;
    }
    
    
    .contenidoideo__titulo{
        font-family: Circular Std;
        font-size: 25px;    
    }
    
    .contenidoideo__parrafo{
        font-size: 14px;
        font-family: Circular Std;
        color: gray;
        line-height: 200%;    
    }
    
    .contenidoideo__palabra{
        font-size: 18px;
        font-family: Helvetica;    
    }

    .extractoideo{
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .contenedorextractos{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .extractoideo__letra{
        margin: 0%;
        font-family: Circular Std;
        font-size: 70px;
        color: rgb(251, 212, 109);
    }
    
    .extractoideo__fecha{
        font-family: Helvetica;
        font-size: 20px;
    }
    
    .extractoideo__frase{
        font-size: 14px;
        font-family: Circular Std;
        color: gray;
        letter-spacing: 0.10em;
        line-height: 150%
    }
}